/*
 * Use Beaver Orange instead of default blue color in navs.
 */
.wy-side-nav-search {
  background-color: #D73F09;
}

.wy-nav-top {
  background: #D73F09;
}

.rst-content blockquote {
  border: 2px solid #D73F09;
  padding: 1em;
}

.rst-content img {
  border: 1px solid #E5EBEB;
  display: table;
  padding: 0.5em;
}

/*
 * Use OSU theme link colors.
 */

a,
a:visited,
a:active, {
  color: #006a8e !important;
}

/*
 * Styles for navigator search form.
 */

 .navigator-search-container {
   margin: auto;
   padding: 3em 5em 5em;
   background: #D73F09;
 }

.navigator-search-container  input[type="text"] {
  font-size: 16px;
  height: 45px;
  border: 1px solid #d7d7d7;
  border-radius: 0;
  padding: 0;
  padding-left: 1em;
  width: 100%;
 }
