/*
 * Use Beaver Orange instead of default blue color in navs.
 */
.wy-side-nav-search {
  background-color: #D73F09;
}

.wy-nav-top {
  background: #D73F09;
}

.rst-content blockquote {
  border: 2px solid #D73F09;
  padding: 1em;
}

/*
 * Use OSU theme link colors.
 */

a,
a:visited,
a:active, {
  color: #006a8e !important;
}
